# Build cache
port-1.16/.gradle/
port-1.16/build/
port-1.16/target_teavm_wasm_gc/build/
port-1.16/target_teavm_wasm_gc/javascript/
port-1.16/target_teavm_wasm_gc/javascript_dist/

# Generated artifacts
port-1.16/libs/minecraft-1.16.5-deobf.jar
port-1.16/libs/prebuilt/
port-1.16/node_modules/
port-1.16/scripts/node_modules/

# OS
.DS_Store
Thumbs.db
